In [89]:
import pandas as pd
import numpy as np

In [130]:
def random_dates(start, end, n=1000000):

    start_u = start.value / 1e3
    end_u = end.value / 1e3
    
    print(start_u, end_u)
    return sorted(pd.to_datetime(np.random.randint(start_u, end_u, n, dtype=np.int64), unit='us'))
start = pd.to_datetime('2015-01-01')
end = pd.to_datetime('2015-03-01')
times = random_dates(start, end)

1420070400000000.0 1425168000000000.0

In [131]:
prices = np.random.lognormal(4,0.03, len(times))
sizes = np.random.randint(100, 5000, len(times))
df = pd.DataFrame({"times": times, "prices": prices, "sizes": sizes}).set_index("times")

In [132]:
df.groupby(pd.Grouper(freq="1min")).agg({'prices': 'ohlc', 'sizes': 'sum'})

                        prices                                   sizes
                          open       high        low      close  sizes
times
2015-01-01 00:00:00  58.137434  58.137434  51.975845  51.975845  29419
2015-01-01 00:01:00  54.878196  57.168290  52.524229  56.424239  25511
2015-01-01 00:02:00  55.540680  56.760443  51.186551  56.760443  43184
2015-01-01 00:03:00  58.064112  58.064112  52.688956  55.974340  25478
2015-01-01 00:04:00  52.875388  57.277046  51.131006  55.369403  15027
...                        ...        ...        ...        ...    ...
2015-02-28 23:55:00  56.503295  56.821339  52.524890  52.618208  35009
2015-02-28 23:56:00  54.040156  56.948518  51.504009  54.282247  23008
2015-02-28 23:57:00  54.071864  58.475311  51.420725  55.263313  19179
2015-02-28 23:58:00  52.960562  56.604645  50.803482  53.166453  24872
2015-02-28 23:59:00  53.525545  56.448846  51.941431  53.876634  30015

[84960 rows x 5 columns]

In [112]:
def bar(xs, y): return np.int64(xs / y) * y

In [133]:
df.groupby(bar(np.arange(len(df)), 10)).agg({'prices': 'ohlc', 'sizes': 'sum'})

           prices                                   sizes
             open       high        low      close  sizes
0       58.137434  58.137434  52.550140  55.117160  27624
10      51.975845  57.168290  51.975845  55.745598  19916
20      54.591763  56.424239  53.203672  53.758546  33599
30      56.335178  58.064112  51.186551  52.688956  21241
40      56.065506  57.085670  51.131006  54.666225  28299
...           ...        ...        ...        ...    ...
999950  56.797348  56.797348  52.524890  53.044781  15115
999960  56.948518  58.475311  51.504009  53.201586  23967
999970  51.420725  57.599947  51.420725  54.395087  19387
999980  50.803482  56.604645  50.803482  55.375841  22805
999990  56.448846  56.448846  51.941431  53.876634  22257

[100000 rows x 5 columns]

In [155]:
df.groupby(bar(np.cumsum(df['sizes'].to_numpy(dtype=np.int64)), 100000)).agg({'prices': 'ohlc', 'sizes': 'sum'})

               prices                                    sizes
                 open       high        low      close   sizes
0           58.137434  58.137434  51.186551  54.797848   99895
100000      54.323876  57.748595  51.131006  53.518027   99407
200000      54.800137  58.902814  51.976689  55.837577   95956
300000      57.443553  57.733404  50.012950  50.012950  104250
400000      56.021415  56.393139  51.369620  51.888336   99740
...               ...        ...        ...        ...     ...
2546500000  56.084222  56.920827  50.982651  50.982651   98916
2546600000  50.868733  59.606499  50.868733  55.446096  101700
2546700000  53.952810  58.749841  51.436860  53.531982   99691
2546800000  55.341931  56.948518  51.504009  56.327029   99498
2546900000  54.282247  58.475311  50.803482  53.876634   75898

[25470 rows x 5 columns]